/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/TodoList.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.TodoList_container__4JvDT {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"].TodoList_itemInput___6E6Z {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button.TodoList_addButton__2Xk_k {
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

button.TodoList_addButton__2Xk_k:hover {
  background-color: #fff;
  color: #f34100;
}

.TodoList_todoItem__Vcsf_ {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.TodoList_todoText__dQiHc {
  margin-left: 10px;
  flex-grow: 1;
}

